<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">    <link rel="stylesheet" href="style.css">
    <title>Search Photo</title>

  </head>
  <body>
      <div id="app" class="container">
          <header class="text-center d-sm-flex justify-content-between align-items-center">
              <h1 class="title my-4">Search Photo!</h1>
              <form class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="text">検索</span>
                  </div>
                  <input type="search" name="search" v-model='searchText' class="form-control" aria-describedby="text"　autocomplete="off">
                  <button v-on:click='getPhoto' class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
              </form>
          </header>
              <main class="row mx-auto mt-3 text-center">
                  <div class="text-center">
                      <p v-if='isInitialized'>検索して下さい</p>
                      <p v-show='isFetching'>
                          <span class="loading-icon fas fa-spinner" aria-hidden="true"></span>
                      </p>
                      <p v-show='isFailed'>検索に失敗しました<br><span class="failed-text">違うワードで検索して下さい</span></p>
                  </div>
                  <template>
                      <div v-for="photo in photos" class="col-4 col-md-3 col-lg-2 mb-3 p-0">
                          <a
                             :key="photo.id"
                             :href="photo.pageUrl"
                             v-tooltip='photo.text'
                             class="d-inline-block"
                             target="_blank"
                             >
                              <img
                                :src="photo.imgUrl"
                                :alt="photo.text"
                                >
                            </a>
                      </div>
                  </template>
              </main>
        
        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- main.js -->
    <script src="main.js"></script>
  </body>
</html>